* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 90%;
  margin: 2em auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
}

.sticky-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em 1em;
}

.sticky {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  color: white;
}